<template>
  <div>
    <div class='gallery'>
      <router-link to="#"  @click.native = 'createDocument' class='button button__info'>Create document data</router-link>
    </div>
    <div class='gallery new-gallery' v-for="dat in getData" :key="dat.id">
      <div class="spec">{{ dat.born }}</div>
    </div>

  </div>
</template>

<script>
import firebase from 'firebase'

import { mediaRef, firestore } from '@/admin/firebase_config'

export default {
  name: 'Media',
  data: function () {
    return {
      dataObj: []
    }
  },
  firebase: {
    // load settings as an object instead of array (default)
    media: {
      source: mediaRef,
      asObject: true
    }
  },
  computed: {
    images () {
      return this.media
    },
    getData () {
      return this.dataObj;
    }
  },
  created () {
    var alovelaceDocumentRef = firestore.collection('users');
    var that = this;
    alovelaceDocumentRef.get()
      .then(getDat => {
        getDat.forEach((res) => {
          that.dataObj.push(res.data());
        });
      })
      .catch(e => {
        console.log(e);
      });
  },
  methods: {
    deleteImage (path, key) {
      let storageRef = firebase.storage().ref(path)
      var that = this
      storageRef.delete().then(function () {
        that.$firebaseRefs.media.child(key).remove()
      }).catch(function (error) {
        console.error(error)
      })
    },
    createDocument () {
      firestore.collection('users').add({
        first: 'Igor',
        last: 'Ilic1',
        born: 1985
      })
      .then(function (docRef) {
        console.log('Document written with ID: ', docRef.id)
      })
      .catch(function (error) {
        console.error('Error adding document: ', error)
      })
    }
  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style lang='scss' scoped>
.img-container {
  margin: 10px;
  position: relative;
  background-color: white;
  width: 400px;
  height: 400px;
}
.delete-button {
  position: absolute;
  top: 20px;
  right: 20px;
}

.info-tab {
  position: absolute;
  bottom: 0px;
  height: 28px;
  width: 100%;
  padding: 4px;
  background-color: black;
  color: white;
  opacity: 0.71;
}

.image-div {
  height: 100%;
  width: 100%;
  background-size: cover;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  // align-content: flex-start;
  align-items: flex-start;
  height: 5vh;
}

.gallery a {
  flex-grow: 1;
  margin: 5px;
}
</style>
